/* imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header  */
.header{
    height: 80px;
    width: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
}
.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 65px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.logo span{
    color: #2196F3;
}
.header__nav{
    list-style: none;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #212121;
}
.header__nav__item{
    margin:0 30px;
    cursor: pointer;
}
.header__link,.header__contact{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #757575;
    cursor: pointer;
    margin: 0 30px;
}
.header__nav__item:hover,.header__link:hover,.header__contact:hover{
    color: #2196F3;
}
/* intro */
.intro{
    display: flex;
    height: 600px;
    background-color: #2F303A;
    flex-direction: column;
    justify-content: center;
}
.intro h1{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
}
.intro button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin: 40px auto 0;
    cursor: pointer;
}
/* about us  */
.about_us__blocks{
    display: flex;
    justify-content: center;
    margin: 70px;
}
.about_us__block{
    display: flex;
    flex-direction: column;
    margin: 60px 20px;
}
.about_us__block h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 20px;
}
.about_us__block p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
.about_us h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.about_us__imgs{
    display: flex;
    justify-content: center;
}
.about_us__img{
    margin:60px 20px;
}
/* team  */
.team{
    background: #F5F4FA;
    height: 640px;
}
.team h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 242px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.teammates{
    display: flex;
    justify-content: space-around;
}
.teammate{
    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.teammate img{
    width: 270px;
    height: 260px;
}
.teammate p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin: 20px auto 10px;
}
.teammate span{
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
    margin: 10px auto 30px;
}
/* footer */
.footer{
    background: #2F303A;
    height: 252px;
}
.footer_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 100px;
}
.footer_list__item .logo{
    color: white;
}
.footer_list__item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.footer_list__item:nth-child(2){
    color: white;
}